<div class="container flex justify-between mx-auto">
    <div>
        <button class="font-semibold">SMARTDINING</button>
    </div>
    <div class="flex gap-5">
        <button class="font-semibold">Restaurants</button>
        <button class="rounded-full bg-white px-5 py-2">
            <span>Sign In</span>
            <span class="arrow ml-2">&#8594;</span>
        </button>
        <button class="rounded-full bg-orange-500 px-5 text-white">
            <span>Sign Up</span>
            <span class="arrow ml-2">&#8594;</span>
        </button>
    </div>
</div>


