<div class="bg-features-2-color flex flex-col">
        <div class="flex">
            <img src="assets/bg-line.svg" alt="">
            <div class="flex flex-col">
                <h1 class="mt-2">Easy and Fast</h1>
                <h2>Book your next Table in 3 easy steps</h2>
                <div class="flex mt-2 gap-2">
                    <img src="assets/reserve-a-table.svg" alt="" class="w-10">
                    <div class="flex flex-col">
                        <p>Reserve a table</p>
                        <p>Reserves a table for X guests at your favorite local restaurants</p>
                    </div>
                </div>
                <div class="flex mt-2 gap-2">
                    <img src="assets/order.svg" alt="" class="w-10">
                    <div class="flex flex-col">
                        <p>Reserve a table</p>
                        <p>Reserves a table for X guests at your favorite local restaurants</p>
                    </div>
                </div>
                <div class="flex mt-2 gap-2">
                    <img src="assets/guest.svg" alt="" class="w-10">
                    <div class="flex flex-col">
                        <p>Reserve a table</p>
                        <p>Reserves a table for X guests at your favorite local restaurants</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <img src="assets/blur-circle.png" alt="" class="">
        </div>
        <div class="container mx-auto ">
            <img src="assets/image-d.png" alt="">
        </div>
</div>


