<div class="grid grid-cols-3">
    <img src="assets/food-3.png" alt="food-3">
    <div class="flex flex-col gap-4 mt-44">
        <p class="text-4xl">Discover the best restaurants, cafes, and bars in your area</p>
        <p class="text-gray-500 text-lg">Smart Dining makes it easy to find the best restaurants for any occasion, book tables
         or order online with a click of a button, and take advantage of exclusive deals.</p>
         <div class="flex gap-4">
            <span class="rounded-md border border-gray-500 px-2">&#10003; Dine In</span>
            <span class="rounded-md border border-gray-500 px-2">Food Order</span>

         </div>
         
        <div class="relative">
            <img src="assets/location.svg" class="absolute h-6 w-6 left-3 top-3" alt="Location Icon">
            <input type="text" placeholder="Type street address or zip code" class="p-3 pl-10 w-full">
        </div>
    </div>
    <div class="flex flex-col">
        <img src="assets/food-1.png" alt="food-1">
        <img src="assets/food-2.png" alt="food-2">
    </div>   
</div>







