<div class="grid grid-cols-3">
    <img src="assets/food-3.png">
    <div class="flex flex-col gap-4 mt-44">
        <p class="font-bold text-4xl">Discover the best restaurants, cafes, and bars in your area</p>
        <p class="text-gray-500 text-lg">Smart Dining makes it easy to find the best restaurants for any occasion, book tables
         or order online with a click of a button, and take advantage of exclusive deals.</p>
    </div>
    <div class="flex flex-col">
        <img src="assets/food-1.png">
        <img src="assets/food-2.png">
    </div>   
</div>